
  <div class="container-fluid">

    <div id="link-row" class="row">
      <div class="img-col">
        <div class="col l3">
          <div class="link-container">
            <a href="/restaurant"  class="waves-effect waves-light btn category-btn">Restaurants</a>
              <img src="images/restaurant_th.jpg">

          </div>
        </div>
        <div class="col l3">
          <div class="link-container">
            <a  href="/activities"class="waves-effect waves-light btn category-btn">Activities</a>
            <img src="images/activities_th.jpg">
          </div>
        </div>
        <div class="col l3">
          <div class="link-container">
            <a href="/tourism"class="waves-effect waves-light btn category-btn">Tourism</a>
         <img src="images/tourism_th.jpg">
          </div>
        </div>
        <div class="col l3">
          <div class="link-container">
            <a href="/nightlife" class="waves-effect waves-light btn category-btn">Nightlife</a>
            <img src="images/nightlife_th.jpg">
          </div>
        </div>
      </div>
    </div><!-- end row -->

  </div><!-- end container -->
