  <div class="container">
    <div class="row">

      <div class="col l9">

          <div class="review-container">
            <div class="row">
              <div class="col l12">
                {{>list_results}}
              </div>
            </div>
          </div>
        </div>


       <div class="col l3">

          <div class="card link-card">
            <div class="card-image">
              <img src="images/nightlife_md.jpg">
              <span class="card-title">Deko</span>
            </div>
            <div class="card-content">
              <p>A blast everytime....</p>
            </div>
            <div class="card-action">
              <a href="#">Full Review</a>
            </div>
          </div>

          <div class="card">
            <div class="card-image">
              <img src="images/activities_md.jpg">
              <span class="card-title">Group-Fit</span>
            </div>
            <div class="card-content">
              <p>Such a great burn....</p>
            </div>
            <div class="card-action">
              <a href="#">Full Review</a>
            </div>
          </div>


          <div class="card">
            <div class="card-image">
              <img src="images/restaurant_md.jpg">
              <span class="card-title">Le Chiq</span>
            </div>
            <div class="card-content">
              <p>Fine Dining to a T...</p>
            </div>
            <div class="card-action">
              <a href="#">Full Review</a>
            </div>
          </div>

            <div class="card">
            <div class="card-image">
              <img src="images/tourism_md.jpg">
              <span class="card-title">Explore</span>
            </div>
            <div class="card-content">
              <p>Amazing Sites...</p>
            </div>
            <div class="card-action">
              <a href="#">Full Review</a>
            </div>
          </div>


      </div>
      </div>
      </div>
