<header>
  <div id="login-nav">
    <nav>
      <div class="nav-wrapper">
        <a href="#!" class="brand-logo">Relp</a>
        <ul class="right hide-on-med-and-down">
         <li>
          <form id="login-form" method="POST" action="/user_dashboard">
            <li>
              <div class="input-field">
                <input id="username" type="text" name="username" placeholder="username" class="validate">
                <label for="username"></label>
              </div>
            </li>
            <li>
              <div class="input-field">
                <input id="password" type="password" name="password" placeholder="password" class="validate">
                <label for="password"></label>
              </div>
            </li>
            <li><button type="submit" class="waves-effect waves-light btn">Go</button></li>
          </form>
          <li><a href="" id="nav-login" class="waves-effect waves-light index-btn register btn">Login</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>

<header>
  <div id="user_register_nav">
    <nav>
      <div class="nav-wrapper">
        <ul>
          <li><a href="/register" class="waves-effect waves-light index-btn login btn">Rate Place</a></li>
          <li><a href="/user_register" class="waves-effect waves-light index-btn login btn">Create Account</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>
