 <div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Relp</a>
      <ul class="right hide-on-med-and-down">
       <li>
        <form id="login-form" method="POST" action="/login">
          <li>
            <div class="input-field">
              <input id="username" type="text" name="username" class="validate">
              <label for="username">Username</label>
            </div>
          </li>
          <li>
            <div class="input-field">
              <input id="password" type="password" name="password" class="validate">
              <label for="password">Password</label>
            </div>
          </li>
          <li>
            <button type="submit" class="waves-effect waves-light btn">Go</button>
          </li>
        </form>
        <li><a href="/register" class="waves-effect waves-light index-btn login btn">Register</a></li>
       <li><a href="" id="nav-login" class="waves-effect waves-light index-btn register btn">Login</a></li>
      </ul>
    </div>
  </nav>
</div>

