{{>navbar}}
<main>
  <div class="container">

    <div class="row">

      <div class="categories">

        <div class="col l3">
          <a href="/restaurant" class="waves-effect waves-light btn">Restaurants</a>
        </div>

        <div class="col l3">
          <a  href="/activities" class="waves-effect waves-light btn">Activities</a>
        </div>

        <div class="col l3">
          <a href="/tourism" class="waves-effect waves-light btn">Tourism</a>
        </div>

        <div class="col l3">
          <a href="/nightlife" class="waves-effect waves-light btn">Nightlife</a>
        </div>

      </div>

    </div><!-- end row -->

  {{>result}}<!-- this is displaying all the results -->

  </div><!-- end container -->

</main>
