<h1>Business Registration</h1>

<div class="row">
  <form class="col s6" method="POST" action="/business_registration">
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="Business Name" id="business_name" type="text" class="validate" name="business_name">
        <label for="business_name">Business Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="123 Relp Ave"  id="business_address1" type="text" class="validate" name="business_address1">
        <label for="business_address1">Address</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="New Brunswick, NJ 08854" id="business_address2" type="text" class="validate" name="business_address2">
        <label for="business_address2">City, State ZIP</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="000-000-0000"  id="business_phone" type="text" class="validate" name="business_phone">
        <label for="business_phone">Phone #</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <select name="business_category">
          <option value="" disabled selected>Choose your option</option>
          <option value="restaurant">Food</option>
          <option value="activities">Activities</option>
          <option value="tourist">Tourism</option>
          <option value="nightlife">Nightlife</option>
        </select>
        <label>Business Type</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field col s12">
        <select name="business_rating">
          <option value="" disabled selected>Choose your option</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select>
        <label>Business Rating</label>
      </div>
  
    <div class="row">
      <div class="input-field col s6">
       <textarea id="user_comment" class="materialize-textarea" name="user_comment"></textarea>
        <label for="user_comment">Comment</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
      	<button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      </div>
    </div>
  </form>
</div>
