<h1>User registration</h1>

<div class="row">
  <form class="col s6" method="POST" action="/user_registration">
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="John" id="firstname" type="text" class="validate" name="firstname">
        <label for="firstname">First Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="Smith"  id="lastname" type="text" class="validate" name="lastname">
        <label for="lastname">Last Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="Johnsmith123" id="username" type="text" class="validate" name="username">
        <label for="username">User Name</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <input placeholder="********"  id="password" type="password" class="validate" name="password">
        <label for="password">Password</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s6">
        <button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
      </div>
    </div>
  </form>
</div>
