/*-----------------------------------------------------------------------------
  NAVBAR
-----------------------------------------------------------------------------*/
nav{
  background-color: #f4303e;
  color:#fff;
}

nav>.nav-wrapper{
  text-height: 50px;
}
#middle-nav{
  height: 40px;
  position: fixed;
  background-color:#000;
  width: 100%

}

.brand-logo>img{
  padding-top:10px;
  width:85%;
  height:85%;
}

.index-btn{
  background-color: transparent;
  border: 1px solid;
}

.index-btn:hover{
  background-color: #000;
  border: 1px solid;
}

#login-nav{
  position: fixed;
  top:109px;
}

#login-slogan, #register-slogan{
  line-height: 40px;
}

#login-slogan{
  padding-left: 10px;
}


#register-slogan{
  padding-right: 10px;
}

#top-nav{
  height: 40px;
}

/*-----------------------------------------------------------------------------
  CALLOUT
-----------------------------------------------------------------------------*/
.box{
  height: 325px;
  position: relative;
  width:100%;
  background-color: #000;
}

#activities>.col, #restaurant>.col, #tourism>.col, #nightlife>.col{
  padding: 0;
}
.box>img{
  max-width:720px;
  opacity: 0.6;
 }

.index-row{
  margin:0;

}

.img-col>.col{
  padding:0;
}

.category-btn{
  line-height: 2.5;
  width: 200px;
  height: 50px;
  font-size: 18px;
}

.btn-container{
  position: absolute;
  z-index: 2.5;
  top: 75%;
  width: 100%;
}

.btn-container>a{
  text-align: center;
  background-color: rgba(0,0,0,0.1);
  border: 2px solid;
}

.btn-container>a:hover{
  background-color: #f4303e;
}

#restaurant_logo {
  height: 90px;
  width: 90px;
}

#user_register_nav {
  height: 40px;
}

#nav-register {
  bottom: 12px;
}

